<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisualizacaoBanco</title>
</head>
<body>

    <h2>Banco de Dados</h2>
    <table border="3">
        <tr>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Quantidade</th>
        </tr>
        {% for item in Produto %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
        {% endfor %}
    </table>

    <form action="/AddProduto" method="POST">
        <input type="text" name="Descricao" placeholder = "Descrição" required>
        <input step="any" type="number" name="Valor" placeholder="Valor do produto" required>
        <input step="any" type="number" name="Quantidade" placeholder="Quantidade" required>
        <button type="submit">Adicionar</button>
    </form>

    <form action="/DeletarProduto" method="POST">
        <input type="text" name="Descricao" placeholder="Nome do Produto" list="lista_Produto" required>
        <datalist id="lista_Produto">
            {% for item in Produto %}
            <option value="{{ item[0] }}">
            {% endfor %}
        </datalist>
        <button type="submit">Remover</button>
    </form>



</body>
</html>