<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehomepage.css') }}">
</head>
<body>
    <img src="logo.png" alt="Logo da Empresa" class="logo">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/Confirmacao" method="POST">
            <div class="input-group">
                <label for="nomedeusuario">Usuário</label>
                <input type="text" id="nomedeusuario" name="nomedeusuario" required>
            </div>
            <div class="input-group">
                <label for="senhadeusuario">Senha</label>
                <input type="password" id="senhadeusuario" name="senhadeusuario" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <a href="/Cadastrar-Produto"><button type="button">Cadastrar Produto</button></a>
    </div>
</body>
</html>