<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <p>Acesso ao Banco de Dados</p>

    <p></p>
    <form action="/Confirmacao" method="POST">
        <input type="text" name="nomedeusuario" placeholder = "Nome" required>
        <input type="password" name="senhadeusuario" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <p></p>

    <!--Botão de acesso ao Banco de dados-->
    <a href="/VisualizacaoBanco"><button type="button">VisualizacaoBanco</button></a>


</body>
</html>