<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/styleMenu.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/Cadastrar-Produto">Cadastrar/Remover Produto</a></li>
                <li><a href="#">Realizar venda</a></li>
                <li><a href="#">Estoque</a></li>
            </ul>
        </nav>
        <main class="content">
            <h1>Bem-vindo ao Sistema de Controle de Estoque</h1>
            <p>Escolha uma opção no menu lateral.</p>
        </main>
    </div>
</body>
</html>