<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>

    <h2>Você está editando o produto: {{ EditorProduto[0] }}</h2>
    <table border="3">
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Quantidade</th>
      </tr>
      <tr>
        <td>{{ EditorProduto[0] }}</td>
        <td>{{ EditorProduto[1] }}</td>
        <td>{{ EditorProduto[2] }}</td>
      </tr>
    </table>
    

    <form action="/EditarProduto" method="POST">
        <input type="text" name="NovaDescricao" placeholder = "Nova Descrição" required>
        <input step="any" type="number" name="NovoValor" placeholder="Novo Valor do produto" required>
        <input step="any" type="number" name="NovaQuantidade" placeholder="Nova Quantidade" required>
        <button type="submit">Confirmar Edição</button>
    </form>


</body>
</html>