<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisualizacaoBanco</title>
</head>
<body>
    <h2>Banco de Dados</h2>
    <table border="3">
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th>Valor</th>
        </tr>
        {% for item in Produto %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/AddProduto"><button type="button">Adicionar Pro</button></a>

</body>
</html>